header{
    background-color:#F5F5F5;
    display:flex;
    align-items:center;
}
#header-container{
    max-width:1440px;
    width:100%;
    margin: 0 auto;
    padding:2px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#header-menu{
    flex-grow: 1;
    min-height: 64px;
    position: relative;
    display:flex;
    align-items: center;
    min-height:64px;
}
#header-menu #logo{
    text-transform:uppercase;
    font-weight:500;
    font-size:24px;
}

#header-menu #logo img{
    opacity:1;
    transition: opacity 250ms ease-out;
}
#header-menu #logo:hover img{
opacity: 0.5;
}

#header-menu .burger{
   position: absolute;
   left:20px;
   top:50%;
   transform: translatey(-50%);
   display:none;
   cursor:pointer;
}
#header-menu img{
display:block;
}

.burger span{
    width:24px;
    height:3px;
    background-color: #000;
    border-radius:5px;
    display:block;
    transition: 200ms transform ease-out;
}
.burger span:nth-child(2){
margin:4px 0 ;
}

.burger.show span:first-child{
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    position: absolute;
    left: 50%;
    top: 50%;
}
.burger.show span:last-child{
    transform: rotate(-45deg) translate(-50%, -50%);
    transform-origin: top left;
    position: absolute;
    left: 50%;
    top: 50%;
}
.burger.show span:nth-child(2){
    transform: scale(0);
}

#header-text-btn-wrapper{
    display:flex;
    justify-content: space-between;
    flex-grow:1;
}

#header-text-btn-wrapper h5{
    font-size: 16px;
    margin:10px auto;
}
#header-text{
    font-size: 16px;
    font-weight: 400;
}



@media screen and (max-width: 750px) {
  #header-container{
    flex-direction:column;
    padding: 0;
    
}
#header-menu{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    box-shadow: 0px 2px 4px 0px #00000026;
}
#header-menu .burger{
    display:block;
}
#header-text-btn-wrapper{
    max-height:0;
    overflow:hidden;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: margin-top 600ms ease-in;
}
#header-text-btn-wrapper.show{
    max-height:1000px;
}

#header-text-btn-wrapper h5{
margin: 25px auto 10px;
}

#header-text-btn-wrapper #header-btn{
    margin-bottom: 25px;
}

}